
 <div class="photo ">

  <div class="photo-img"></div>

  <h1>Почему я хочу работать контент менеджером </h1>
  <button (click)='isShown=!isShown'>show/hide</button>

</div>
<div class="description " *ngIf="isShown">
  <p>Разберемся с самого начала.

  </p>

  <p>Как я начал читать, увы не помню. Родители что-то упоминали про вывески магазинов. Если это так, то это была
    первая
    проба ознакомления с контентом, ибо название магазина наверняка вызывало поток расспросов о том, чем торгует
    магазин,
    где это произвели и зачем.
  </p>
  <p>Детская любознательность находит выход в разнообразных направлениях, в моем случае это вылилось в затворничество и
    стремительное поглощение книг семейной библиотеки.
    К счастью, библиотека была обширная и разнонаправленная.
  </p>
  <p> Сформировавшаяся грамотность и эрудиция апостериори сослужили добрую службу.
    Взрослая жизнь непрерывно накидывала новые тезисы для изучения и легкость усвоения знаний просто кружила голову.
    Семья, бизнес, собственноручно построенный дом ... Я спокойно ожидал старость, внуков и посиделки с кошками в
    садовой
    беседке.
  </p>
  <p>События 2014 года внесли глобальные коррективы в мое мироустройство.

  </p>
  <p>Спокойствие сдуло ветром туда, не знаю куда.

  </p>
  <p>Бизнес растворился в круговороте дней, как кусочек льда, выпавший из холодильника с мороженным в июльский полдень.
    Что толку в доме, если дети уехали, а люди вокруг резко разделились в своих предпочтениях и взялись за оружие.
    Вот я и решил последовать за детьми. Только имущество оказалось невозможно продать, можно только оставить...
  </p>
  <p>Как бы истина, что все с собой на тот свет не заберешь, воплотилась до факта события.

  </p>
  <p>И вот здесь то и выступила на первый план грамотность и эрудиция. Звучавший где-то далеко слоган " вайти вайти"
    оформился.
    Я начал изучать программирование, ибо эти интеллектуальные знания, легко умещаюшиеся в черепной коробке, довольно
    неплохо оплачиваются.
  </p>
  <p>Изучение было легким и приятным, за языком разметки легко добавился стилевой каскад, затем динамика и стереотипные
    моменты, прописанные в библиотеках, всевозможные приспособления для удобства программирования окрашивали изучение в
    приятные глазу тона, превращаясь в картины, где нахальный мопс, сделав глоток, реагировал на угловой запрос
    младшего
    разработчика переднего конца.
  </p>
  <p>Набравшись смелости я отправил резюме на одну, вторую, двухсотую вакансию. Улов был незначительным, поклевки
    отсутствовали совсем.
    Опыт подсказал, что наживка не интересует никого, потому, что таких неинтересных, но более, не побоюсь этого слова,
    "свежих" наживок полным-полно.
    Смирив гордыню или обуяв свои ожидания, я скромно понизил уровень ожидаемого вознаграждения за свои труды.
    Противоположная сторона даже не заметила этого.
  </p>
  <p>Тогда мы пойдем другим путем. Мы зайдем как контент-менеджер, проще говоря, наполнитель.
  </p>
  <p> Могу ли я описать товар?

  </p>
  <p> Этот вопрос я задал себе и вспомнил, что за свою жизнь продал
    несчетное количество наименований товара.
    Товаром были часы моего физического и умственного труда, плоды из моего сада и изобретения в виде патентов,
    перекупленные и перепроданные мною вещи, сырье, услуги. Каждое наименование товара имело историю, побудительные
    причины и
    последствия, не обязательно монетизированные.
  </p>
  <p> В каждом случае товару приходилось создать легенду. Плохую или
    замечательную - это оценивали покупатели звонкой шуршащей купюрой.
    Иногда "потный вал вдохновения" подымал продажу на невиданные высоты, вроде продажи краски отдельно от банок и
    банок из-под краски отдельно от краски
    или же другие деяния, классифицированные по строгой книжечке с нумерованными статьями.
    За всем этим действом стояло убеждение покупателя в качестве приобретаемого товара и в счастливой звезде,
    позолотившей его покупку.
  </p>
  <p>Есть ли шаблон для описания товара? Есть, отвечу я. Но покупатель видит шаблоны и это отторгает его от покупки.
    И вот тут-то, вуаля, появляется тот контентщик, который не мыслит шаблонами и наполняет описание товаров
    новыми незатертыми гранями.
    Подобно авторитету из Гаммельна, он привлекает искусным словотворчеством внимание и не отпускает его до финала.
  </p>
  <p> Вот поэтому я и хочу работать контент менджером.
  </p>
  <button (click)='isShownFooter=!isShownFooter'>PostScriptum</button>
</div>
<footer *ngIf="isShownFooter"> 
  и, конечно, котик
</footer>